<head>
    <title>tchat</title>
    <link href="http://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified JS -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
    {{> layout}}
</body>
<template name="layout">
    {{> navbar}}
    {{> messages}}
    {{> messageInsert}}
</template>

<template name="messages">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="list-group">
        {{#each messages}}
          <a href="#" class="list-group-item">
            <img id="placeholder-image" class="pull-left" src="/assets/default.png" />
            <h4  class="list-group-item-heading">{{name}}</h4>
            <p  class="list-group-item-text">{{message}}</p>
          </a>
          {{/each}}
    </div>
  </div>
</template>

<template name="messageInsert">
        <div class="form-group">
          <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                <input type="text" name="insertName" id="name" class="form-control" value="" placeholder="Name" required="required" pattern="" title="">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-9">
            <input type="text" name="insertMessage" id="message" class="form-control" value="" placeholder="Insert Message" required="required" pattern="" title="">
          </div>
            <button type="button" id="send" class="btn btn-danger">Send</button>
        </div>
</template>

<template name="navbar">
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">tChat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-inverse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a>
                </li>
                <li><a href="#">Link</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</template>
